---
layout: ""
page_title: "Provider: Crunchy Bridge - Cloud PostgreSQL"
subcategory: ""
description: |-
  The Crunchy Bridge provider provides Terraform resources to interact with the Crunchy Bridge platform API to provision PostgreSQL clusters hosted and managed by Crunchy Data.
---

# crunchybridge Provider

This provider allows [Crunchy Bridge](https://crunchybridge.com) users to interact with the Crunchy Bridge platform API using Terraform.

To get started, log in to Crunchy Bridge and visit [Account Settings](https://crunchybridge.com/account) to obtain an API Key for configuring the provider as shown below.

The example usage below assumes that sensitive data fields are defined in their own files, like `variables.tf` to define the variable names and `terraform.tfvars` for their values.

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Additional Information

To report bugs or feature requests for the provider [file an issue](https://github.com/CrunchyData/terraform-provider-crunchybridge/issues) on github.

[Crunchy Bridge documentation](https://docs.crunchybridge.com/) - the [API Reference](https://docs.crunchybridge.com/api/) may be useful in places where the provider documentation is missing information.

[Crunchy Data](https://www.crunchydata.com/)

[Crunchy Bridge product page](https://www.crunchydata.com/products/crunchy-bridge)

[Crunchy Bridge blog posts](https://www.crunchydata.com/blog/topic/crunchy-bridge)

